---
// Importing from Astro
import { Image } from "astro:assets";

//Importing Images
import ElectricalEngineering from "/public/ElectricalEngineering.png";

//Importing Components
import MainLayout from "../Layouts/MainLayout.astro";
import Hero from "../Components/Hero/Hero.astro";
import OurClients from "../Components/OurClients/OurClients.astro";
import SectionLayout from "../Layouts/SectionLayout.astro";
import Card from "../Components/Card/Card.astro";
---

<MainLayout site="Inicio">
  <Hero />
  <OurClients />

  <SectionLayout>
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
      
    >
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div
          class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
        >
          <Image
            src={ElectricalEngineering}
            alt="Electrical Enginnering"
            class:list={"absolute inset-0 h-full w-full object-cover"}
          />
        </div>

        <div class="lg:py-24">
          <h2 class="text-3xl font-bold sm:text-4xl uppercase">
            Ingeniería Electrica
          </h2>

          <p class="mt-4 text-gray-600">
            En Dema, nuestra pasión es transformar sueños en realidades. Nos
            preocupamos por cada detalle, dedicándonos a superar expectativas y
            crear experiencias únicas. Con compromiso y creatividad, llevamos
            tus ideas más allá de lo imaginable. Descubre un mundo de
            posibilidades con nuestros servicios, donde la excelencia y la
            innovación convergen para construir tu éxito. ¡Confiar en Dema es
            apostar por un futuro brillante y lleno de logros! Juntos, hacemos
            posible lo extraordinario.
          </p>

          <a
            href="#"
            class="mt-8 inline-block rounded bg-emerald-900 px-12 py-3 text-sm font-medium text-emerald-300 transition hover:bg-transparent hover:ring-1 hover:ring-emerald-500 hover:text-emerald-800 hover:font-bold focus:outline-none"
          >
            Contactanos
          </a>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-wrap gap-4">
      <Card cardTitle="Mantenimiento de instalaciones eléctricas de todo tipo." />
      <Card cardTitle="Instalación y mantenimiento de motores y plantas de emergencia." />
      <Card cardTitle="Montaje y mantenimiento de aires acondicionados." />
    </div>
  </SectionLayout>

  <SectionLayout>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Deja que nuestros profesionales se encarguen, contactanos ahora.
      </h2>

      <p class="hidden text-gray-500 sm:mt-4 sm:block">
        En Dema valoramos tu trabajo y por eso te ofrecemos un resultado profesional siempre brindandote el mejor servicio del mercado.
      </p>
    </div>

    <div class="mx-auto mt-8 max-w-xl">
      <form action="#" class="sm:flex sm:gap-4">
        <div class="sm:flex-1">
          <label for="email" class="sr-only">Email</label>

          <input
            type="email"
            placeholder="demaingenieriaelectrica@gmail.com"
            class="w-full rounded-md border-gray-200 bg-white p-3 text-gray-700 shadow-sm transition focus:border-black focus:outline-none border "
          />
        </div>

        <button
          type="submit"
          onclick={'window.open("mailto:demaingenieriaelectrica@gmail.com")'}
          class="group mt-4 flex w-full items-center justify-center gap-2 rounded-md bg-emerald-600 px-5 py-3 text-white transition focus:outline-none sm:mt-0 sm:w-auto"
        >
          <span class="text-sm font-medium"> Enviar email </span>

          <svg
            class="h-5 w-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>

  </SectionLayout>
</MainLayout>
