---
import MainLayout from "../Layouts/MainLayout.astro";
--- 

<MainLayout site='About Us'>

    <section class="py-16">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap mb-32 mt-14 -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <div class="flex items-center justify-between flex-wrap gap-4 mb-14">
                <div class="py-1 px-3 rounded-lg border border-emerald-100 bg-emerald-50 flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none"><circle cx="4" cy="4" r="3" fill="#059669"></circle></svg>
                  <span class="text-emerald-600 text-sm font-medium">Sobre Nosotros</span>
                </div>
                <div class="flex items-center flex-wrap gap-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><circle cx="8" cy="8" r="5" stroke="#059669" stroke-width="1.25"></circle><circle cx="8" cy="8" r="7.375" stroke="#022c22" stroke-width="1.25"></circle><circle cx="8" cy="8" r="3" fill="#059669"></circle></svg>
                  <span class="text-sm font-semibold">Colombia - Valle del Cauca & Eje Cafetero</span>
                </div>
              </div>
              <img class="rounded-3xl w-full mb-8" src="https://img.freepik.com/fotos-premium/ingeniero-electrico-revisando-poste-alto-voltaje-generativo-ai_61243-4690.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <h1 class="text-5xl lg:text-7xl font-bold font-heading mb-10 max-w-xs lg:max-w-lg">Una misión para iluminar el país</h1>
              <p class="text-gray-600 text-lg">
                Estamos impulsados ​​a transformar el panorama de la ingeniería eléctrica en una cautivadora travesía de emoción y descubrimiento. Nuestro objetivo es infundir cada proyecto con la esencia de la innovación, convirtiendo cada desafío en una aventura inmersiva que estimule la curiosidad y fomente el crecimiento.</p>
            </div>
          </div>
          <div class="border border-gray-200 bg-white rounded-3xl flex flex-wrap mb-32">
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="md:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Fundado</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">2016</h2>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="lg:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Total de inversión en nuestros proyectos</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">$143.6M</h2>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="md:border-r border-gray-200 px-12">
                <p class="text-gray-600 mb-2 text-center">Clientes que han confiado en nosotros</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">110</h2>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 py-8">
              <div class="px-12">
                <p class="text-gray-600 mb-2 text-center">Contratos con alcaldías</p>
                <h2 class="text-4xl lg:text-5xl font-semibold text-center">14</h2>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap mb-32 -mx-8">
            <div class="w-full lg:w-1/2 px-8">
              <h2 class="text-3xl lg:text-5xl font-bold font-heading mb-20 max-w-xs lg:max-w-lg">Una Compañía con valores</h2>
              <img class="rounded-3xl w-full mb-8" src="https://micarrerauniversitaria.com/wp-content/uploads/2018/02/ingenieria-electrica-20.jpg" alt="">
              <img class="rounded-3xl w-full mb-8" src="https://img.freepik.com/foto-gratis/hombre-tecnico-electrico-que-trabaja-cuadro-distribucion-fusibles-usa-tableta_169016-25055.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/2 px-8">
              <img class="rounded-3xl w-full mb-24" src="https://us.123rf.com/450wm/photobuay/photobuay2311/photobuay231100133/217672603-sea-testigo-de-la-experiencia-de-un-electricista-profesional-experimentado-trabajando-en-un-entorno.jpg?ver=6" alt="">
              <p class="text-gray-600 text-lg mb-10">
                La diversidad, la inclusión y el sentido de pertenencia son fundamentales para nuestro éxito. Creemos que las mejores soluciones surgen cuando una pluralidad de orígenes, experiencias e identidades trabajan juntas.</p>
              <p class="text-gray-600 text-lg">
                Todas las facetas de tus proyectos están integradas, convirtiendo cada tarea en una experiencia tangible, automatizada y colaborativa. En cada etapa, cuentas con el respaldo de sugerencias intuitivas e intervenciones que comprenden los requerimientos eléctricos específicos y anticipan tus necesidades.</p>
            </div>
          </div>
        </div>
      </section>   
    
</MainLayout>